html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title ADVOCATUS
		link(rel="stylesheet", href="./css/app.css")

		script(src="js/lib/jquery.min.js")
		script(src="js/lib/siema.min.js")
		script(src="js/app.js")

	body
		.head#head
			.head__menu.container
				.head__logo
					| Advocatus

				.head__nav
					a.head__nav-item(href="#about")
						| About Us
					a.head__nav-item(href="#practice")
						| Practice area
					a.head__nav-item(href="#lawyers")
						| Lawyers
					a.head__nav-item(href="#clients")
						| Publications
					a.head__nav-item(href="#faq")
						| Faq

			.head__title
				.head__position.container
					.head__title-label
						.head__title-label--1
							| Adam Suaerez
						.head__title-label--2
							| Lawyer
					.head__title-btn
						| Contact Me
				
		.about.container#about
			.about__label
				.about__label--1
					| About us
				.about__label--2
					| We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.

			.about__bottom
				.about__left
					.about__left-label
						| History
					.about__list
						.about__list-item
							| 2016 -
							.about__list-item--text
								| In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien.
						.about__list-item
							| 2017 -
							.about__list-item--text
								| In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien.
						.about__list-item
							| 2018 -
							.about__list-item--text
								| In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien.

				.about__right
					.about__right-label
						| Expertise
					.about__right-text
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste id ut harum nam possimus dicta, ab repudiandae, laudantium ratione eum at nisi! Provident quaerat autem voluptates vero voluptate! Tempora, quisquam?

		.practice.container#practice
			.practice__label
				.practice__label--1
					| Practis Area
				.practice__label--2
					| We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.

			.wrapper
				.practice__list
					.practice__list-item.practice__list--1
						.practice__list-item--1
							| Private Cliens Service
						.practice__list-item--2
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique soluta blanditiis dignissimos deleniti quo ex quam dolore. Esse totam asperiores ratione, aperiam qui vero cupiditate, saepe a ut maxime quia!
					.practice__list-item.practice__list--2
						.practice__list-item--1
							| Cyber Sequre
						.practice__list-item--2
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique soluta blanditiis dignissimos deleniti quo ex quam dolore. Esse totam asperiores ratione, aperiam qui vero cupiditate, saepe a ut maxime quia!
					.practice__list-item.practice__list--3
						.practice__list-item--1
							| Labour
						.practice__list-item--2
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique soluta blanditiis dignissimos deleniti quo ex quam dolore. Esse totam asperiores ratione, aperiam qui vero cupiditate, saepe a ut maxime quia!
					.practice__list-item.practice__list--4
						.practice__list-item--1
							| Real estate
						.practice__list-item--2
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique soluta blanditiis dignissimos deleniti quo ex quam dolore. Esse totam asperiores ratione, aperiam qui vero cupiditate, saepe a ut maxime quia!

		.lawyers.container#lawyers
			.lawyers__label
				.lawyers__label--1
					| Meet Our Attorney
				.lawyers__label--2
					| We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.

			.lawyers__list
				.lawyers__list-item
					.lawyers__list-item--photo.lawyers__list-item--photo-1
					.lawyers__list-item--title
						| Adam Suarez
					.lawyers__list-item--subtitle
						| Attorney General
				.lawyers__list-item
					.lawyers__list-item--photo.lawyers__list-item--photo-2
					.lawyers__list-item--title
						| Lina Suarez
					.lawyers__list-item--subtitle
						| Attorney General
				.lawyers__list-item
					.lawyers__list-item--photo.lawyers__list-item--photo-3
					.lawyers__list-item--title
						| Jems Snow
					.lawyers__list-item--subtitle
						| Attorney General
				.lawyers__list-item
					.lawyers__list-item--photo.lawyers__list-item--photo-4
					.lawyers__list-item--title
						| Linister White
					.lawyers__list-item--subtitle
						| Attorney General

		.clients.container#clients
			.clients__label
				.clients__label--1
					| Our Clients Say
				.clients__label--2
					| We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.

			.clients__slider
				.clients__slider-item
					.clients__slider-item--logo.clients__slider-item--logo-1
					.clients__slider-item--label
						.clients__slider-item--text
							| Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
						.clients__slider-item--title
							| Alon Smith
						.clients__slider-item--subtitle
							| CEO OF AVC GROUP
				.clients__slider-item
					.clients__slider-item--logo.clients__slider-item--logo-2
					.clients__slider-item--label
						.clients__slider-item--text
							| Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
						.clients__slider-item--title
							| Jems Snow
						.clients__slider-item--subtitle
							| CEO OF AVC GROUP
				.clients__slider-item
					.clients__slider-item--logo.clients__slider-item--logo-3
					.clients__slider-item--label
						.clients__slider-item--text
							| Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
						.clients__slider-item--title
							| Linister White
						.clients__slider-item--subtitle
							| CEO OF AVC GROUP

			.clients__slider-counter

		.faq.container#faq
			.faq__label
				.faq__label--1
					| Frequently asked questions
				.faq__label--2
					| We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.
			.faq__list
				.faq__item
					.faq__item--title
						| What paperwork do I need to complete to file for divorce?
					.faq__item--subtitle
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus commodi officiis tenetur, voluptatibus dolor quibusdam ab quisquam illo quos inventore qui facilis quae atque provident. Officia repellendus laudantium quos.
				.faq__item
					.faq__item--title
						| How do I change my custody and suport orders?
					.faq__item--subtitle
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus commodi officiis tenetur, voluptatibus dolor quibusdam ab quisquam illo quos inventore qui facilis quae atque provident. Officia repellendus laudantium quos.
				.faq__item
					.faq__item--title
						| How to make a General Diary?
					.faq__item--subtitle
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus commodi officiis tenetur, voluptatibus dolor quibusdam ab quisquam illo quos inventore qui facilis quae atque provident. Officia repellendus laudantium quos.
				.faq__item
					.faq__item--title
						| What paperwork do I need to complete to file for divorce?
					.faq__item--subtitle
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus commodi officiis tenetur, voluptatibus dolor quibusdam ab quisquam illo quos inventore qui facilis quae atque provident. Officia repellendus laudantium quos.
				.faq__item
					.faq__item--title
						| How do I protect a business name?
					.faq__item--subtitle
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus commodi officiis tenetur, voluptatibus dolor quibusdam ab quisquam illo quos inventore qui facilis quae atque provident. Officia repellendus laudantium quos.
				.faq__item
					.faq__item--title
						| Should I incorporate my business?
					.faq__item--subtitle
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus commodi officiis tenetur, voluptatibus dolor quibusdam ab quisquam illo quos inventore qui facilis quae atque provident. Officia repellendus laudantium quos.
		.footer.container
			| Copyright © Symu