@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('./fonts/PlayfairDisplay-Regular.eot');
  src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('./fonts/PlayfairDisplay-Regular.woff') format('woff'),
       url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
       url('./fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

